HTML,BODY{
  /*background-color: green;*/
  height: 100%;
  width: 100%;
}
#heading {
  background-color:green;
  color:white;
  padding:20px;
  border-radius: 8px;
  text-align: center;
}
#form{
  height: 100%;
  width: 50%;
  background-color: green;
  color:whitesmoke;
}

#panNo{
  padding-bottom: 25px;
  background-color: green;
  justify-content:space-between;
  display: flex;
  max-width: 100%;
}