HTML,BODY{
  background-color: rgba(43, 73, 43, 0.705);
  height: 100%;
  width: 100%;
}
.container{

text-align:left;
margin: auto;
max-width: 600px;
background-color: white;
}
#heading {
  background-color:green;
  color:white;
  padding:20px;
  border-radius: 8px;
  text-align: center;
}
#form{
  height: 100%;
  width: 50%;
  background-color: green;
  color:whitesmoke;
}

#panNo{
  padding-bottom: 25px;
  background-color: green;
  justify-content:space-between;
  display: flex;
  max-width: 100%;
}
#container1{
  color: green;
  margin-bottom: non;
  border-bottom: 1px solid black;


}